<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    ¡Bienvenido a la pagina de TaskBD!
    <li>
        <button><a href="http://127.0.0.1:5000/new-task">Agregar una nueva tarea.</a></button>
    </li>
    <li>
        <button><a href="http://127.0.0.1:5000/show-task">Mostrar las tareas.</a></button>
    </li>
    <li>
        <button><a href="http://127.0.0.1:5000/complete-task">Marcar una tarea como completa.</a></button>
    </li>
    <li>
        <button><a href="http://127.0.0.1:5000/delete-task">Eliminar una tarea.</a></button>
    </li>
</body>
</html>